.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	letter-spacing: -0.035em;

	/* Gray 2 */

	color: #4f4f4f;
}
.label {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.035em;

	/* Gray 3 */

	color: #828282;
	margin-top: 16px;
}
.figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.figure-holder {
	width: 100%;
	height: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed #97bef4;
	background-color: #f6f8fb;
	border-radius: 12px;
	margin-top: 30px;
}
.figure-caption {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */

	letter-spacing: -0.035em;

	/* Gray 4 */

	color: #bdbdbd;
	margin-top: 38px;
}
.ordinary-text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.035em;

	/* Gray 4 */

	color: #bdbdbd;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn__upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.btn__upload + label {
	background-color: #2f80ed;
	border-radius: 8px;
	border: none;
	padding: 8px 16px;
	color: white;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.035em;
	cursor: pointer;
}
.progress-holder {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.progress {
	margin-top: 32px;
	width: 100%;
}
.image-holder {
	width: 100%;
	height: 225px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 26px;
	object-fit: cover;
	position: relative;
}
.uploaded-image {
	border-radius: 12px;
	position: absolute;
}
.link-holder {
	width: 100%;
	background: #f6f8fb;
	/* Gray 5 */

	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	margin-top: 26px;
	padding-left: 8px;
	position: relative;
}
.copied-msg {
	position: absolute;
	background-color: #4f4f4f;
	color: white;
	font-size: 10px;
	padding: 8px 10px;
	border-radius: 2px;
	margin-top: 40px;
	margin-left: -20px;
}
.link-holder input[type="text"] {
	border: none;
	width: 240px;
	background-color: transparent;

	font-family: "Poppins";
	font-weight: 500;
	font-size: 8px;
	line-height: 12px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.035em;

	/* Gray 2 */

	color: #4f4f4f;
}
.link-text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: 12px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.035em;

	/* Gray 2 */

	color: #4f4f4f;
}
.btn__copy {
	background: #2f80ed;
	border-radius: 8px;
	padding: 10px 20px;
	border: none;

	font-family: "Poppins";
	font-weight: 500;
	font-size: 8px;
	line-height: 12px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.035em;

	color: #ffffff;
	cursor: pointer;
}
@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
